@using ShoppingWarehouse.Resources.Home;

@{
    ViewData["Title"] = @HomeResource.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@HomeResource.Welcome</h1>
    <p>@HomeResource.WebProgrammingProjectI.</p>
</div>
