@using ShoppingWarehouse.Resources.Home;

@{
    ViewData["Title"] = @HomeResource.PrivacyPolicy;
}
<h1>@ViewData["Title"]</h1>

<h2>@HomeResource.WebProgrammingProjectI</h2>
<p>@HomeResource.PrivacyDescription</p>

